.gform-wrapper-value-calc .gform_fields li.gf_middle_third.gfield_price {
    margin-bottom: 0 !important;
    margin-top: 2em;
}

.gform-wrapper-value-calc .gform_fields li.gf_left_third.field_sublabel_below {
    margin-right: 4em;
}

.gform-wrapper-value-calc .gform_fields li.gf_left_third.gfield_html + li.gf_middle_third {
    width: 35%;
    margin-top: 0px;
}

.gform-wrapper-value-calc .gform_fields label.gfield_label {
    white-space: nowrap;
}

.gform-wrapper-value-calc .gfield.total-used label.gfield_label {
    white-space: normal;
}

.gform-wrapper-value-calc .gfield.total-paid {
    margin-top: 0;
}

.gform-wrapper-value-calc .gform_fields li.gf_right_third.gfield_calculation {
    margin-top: 1.25em;
}

/*.gform_wrapper .top_label li#field_3_30.gfield.gf_left_third,
.gform_wrapper .top_label li#field_3_42.gfield.gf_left_third,
.gform_wrapper .top_label li#field_3_46.gfield.gf_left_third {
    width:42%;
}*/

.gform-wrapper-value-calc li.gfield.gsection.tighter-section {
    padding: 0px;
    margin-top: 0px;
}

.gform-wrapper-value-calc .gform_footer input.gform_button.button {
    display: none;
}
