.gform-value-calc_wrapper .gform_fields li.gf_middle_third.gfield_price {
    margin-bottom: 0 !important;
}

.gform-value-calc_wrapper .gform_fields li.gf_left_third.field_sublabel_below {
    margin-right: 4em !important;
    margin-bottom: 0 !important;
}

.gform-value-calc_wrapper .gform_fields li.gf_left_third.gfield_html + li.gf_middle_third {
    width: 35%;
    margin-top: 0px;
}

.gform-value-calc_wrapper .gform_fields label.gfield_label {
    white-space: nowrap;
}

.gform-value-calc_wrapper .gfield.total-used label.gfield_label {
    white-space: normal;
}

.gform-value-calc_wrapper .gfield.total-paid {
    margin-top: 0;
}

.gform-value-calc_wrapper .gfield.total-paid div.ginput_container {
    margin-top: 2em;
}

.gform-value-calc_wrapper .gform_fields li.gf_right_third.gfield_calculation {
    margin-top: 1.25em;
}

.gform-value-calc_wrapper li.gfield.gsection.tighter-section {
    padding: 0px;
    margin-top: 0px;
}

.gform-value-calc_wrapper .gform_footer input.gform_button.button {
    display: none;
}
